* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --header-bg: #10375c;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 60px;
  display: inline-block;
  min-width: 205px;
  color: #fff;
  background: #2e80ce;
  border-radius: 30px;
  border: 1px solid #2e80ce;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: var(--height);
  line-height: var(--height);
  padding: 0 20px;
  transition: ease-out 0.5s;
}

.btn:hover {
  scale: 1.2;
  cursor: pointer;
}

.section-heading {
  font-family: "Sora";
  font-weight: 600;
  font-size: 5rem;
  line-height: 60px;
  letter-spacing: -2%;
  color: #10375c;
}

.section-desc {
  margin-top: 18px;
  font-family: "Sora";
  font-weight: 300;
  font-size: 1.12rem;
  line-height: 30px;
  letter-spacing: 0%;
  color: #575f66;
}

.control {
  display: flex;
  column-gap: 18px;
}

.control__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1.5px solid #575f66;
  outline: none;
  color: #575f66;
  background: #fff;
  transition: 0.25s;
}
.control__btn:hover {
  color: #fff;
  border-color: #2e80ce;
  background: #2e80ce;
  cursor: pointer;
}

.control-next-icon {
  rotate: 180deg;
}

/* Header */
.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--header-bg);
}

.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  font-family: "Sora", sans-serif;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #ffffff;
}
.logo .logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #ffffff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-family: "Sora", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  color: #c9d2da;
  transition: 0.8s;
}

.header-action__login:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
  scale: 1.2;
}

.navbar__item--active {
  font-size: 1.6em;
  font-family: "Sora";
  font-weight: 300;
}

.navbar__link:hover {
  color: #ffffff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__item--active:hover::before,
.navbar__link {
  text-shadow: 1px 0 0 currentColor;
  opacity: 1;
}

.navbar__item--active::before {
  position: relative;
  opacity: 0;
  top: -5px;
  left: -8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transition: 0.8s;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

/* ===================================================== */

/* Hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  color: #fff;
  font-family: "Sora";
  font-size: 5rem;
  line-height: 1;
  font-weight: 600;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-family: "Sora";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.16;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  color: #fff;
  text-align: center;
  font-family: "Sora";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Service */
.service {
  padding: 170px 0;
}

.section-heading,
.section-desc {
  text-align: center;
}

.section-desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

/* Service Item */
.service-item {
  display: flex;
  width: 470px;
  padding: 22px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #fff;
}

.service-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); */
  color: #10375c;
  background: #eff6fd;
  transition: 0.25s;
}

.service-item__body {
  margin-left: 20px;
}

.service-item__heading {
  color: #10375c;
  font-family: "Sora";
  font-size: 1.79rem;
  line-height: 1.27;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-family: "Sora";
  font-size: 1.12rem;
  font-weight: 300;
  line-height: 1.75;
}

.service__list {
  margin-bottom: 20px;
}

/* Work */
.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work-section-heading {
  color: #10375c;
  font-family: "Sora";
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.work-section-desc {
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.work-item {
  padding: 44px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: #2e80ce;
}

.work-item:hover .work-item__more {
  color: #2e80ce;
}

.work-item__heading {
  color: #10375c;
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.38;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-family: "Sora";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-family: "Sora";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  transition: 0.25s;
}

/* feature */
.feature {
  margin-top: 85px;
  padding: 85px 0;
}

.feature__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.feature__img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
  height: 370px;
}

.section-feature-heading {
  width: 470px;
  color: #10375c;
  font-family: "Sora";
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-feature-desc {
  margin-top: 18px;
  color: #575f66;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.66;
}

.feature__cta {
  margin-top: 38px;
}

/* Member */
.member {
  padding: 85px 0;
  text-align: center;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__cta {
  margin-top: 38px;
}

.member__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.member__control {
  margin-top: 38px;
  justify-content: center;
}

.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}

.member-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}

.member-item__thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.4s;
}

.member-item__name {
  margin-top: 12px;
  color: #10375c;
  font-family: "Sora";
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.75;
}

.member-item__desc {
  color: #575f66;
  font-family: " Sora";
  font-size: 1.1rem;
  font-weight: 250;
  line-height: 1.5;
}

/* Install */
.install {
  margin-top: 180px;
}

.install__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  border-radius: 4px;
  background: #2e80ce;
}

.install__img {
  display: block;
  margin-top: -95px;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install-section-heading,
.install-section-desc {
  color: #fff;
}

.install-section-heading {
  width: 460px;
  font-family: "Sora";
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -1px;
}

.install-section-desc {
  margin: 18px 0px 38px 0px;
  width: 586px;
  font-family: "Sora";
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6;
}

.install__row {
  display: flex;
  column-gap: 28px;
  margin-top: 38px;
}

.install__btn-img {
  transition: 0.4s;
}

.install__btn-img:hover {
  transform: translateY(-4px);
}

/* News */
.news {
  margin-top: 85px;
  padding: 85px 0;
}

.news__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__content {
  flex-shrink: 0;
}

.news-section-heading {
  max-width: 470px;
  color: #10375c;
  font-family: "Sora";
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.new__more {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.55;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.news__control {
  margin-top: 28px;
}

.news__list {
  display: flex;
  column-gap: 30px;
  max-width: 570px;
}

.news-item {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.25s;
}

.news-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.news-item__thumb {
  display: block;
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 172px;
  object-fit: fill;
}

.news-item__body {
  padding: 24px 24px 16px;
  border: 1px solid #e8ebee;
  border-top: none;
  background: #ffffff;
  border-radius: 0 0 12px 12px;
  transition: 0.3s;
}

.news-item:hover .news-item__body {
  border-color: #fff;
}

.news-item__heading {
  width: 224px;
  color: #10375c;
  font-family: "Sora";
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.62;
}

.news-item__desc {
  width: 226px;
  margin-top: 10px;
  color: #575f66;
  font-family: "Sora";
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.71;
}

.news-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #2e80ce;
  font-family: "Sora";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.news-item:hover .news-item__more {
  color: #10375c;
}

/* Appointment */
.appointment {
  margin-top: 85px 0 170px;
}

.appointment__inner {
  background: #f6fbff;
  padding: 100px 70px;
  text-align: center;
}

.appointment__heading {
  padding-bottom: 20px;
  position: relative;
}

.appointment__heading::after {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  content: "";
  width: 136px;
  height: 2px;
  background: #2e80ce;
}

.appointment-section-heading {
  color: #10375c;
  font-family: "Sora";
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: -1px;
}

.appointment-section-desc {
  color: #575f66;
  font-family: "Sora";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.appointment__desc {
  max-width: 617px;
  margin: 18px auto 38px;
  font-size: 1rem;
}

/* Footer */
.footer {
  padding: 100px 0;
  background: #10375c;
  font-family: " Open Sans", sans-serif;
}

.footer__row {
  display: grid;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer__heading {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.72;
}

.footer__desc {
  width: 336px;
  margin-top: 20px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.85;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  display: flex;
  column-gap: 30px;
  margin-bottom: 28px;
}

.footer__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #2e80ce;
  background: #fff;
  transition: 0.3s;
}

.footer__social-btn:hover {
  transform: translateY(-2px);
  background: #2e80ce;
  color: #fff;
}
